<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="farmacia.farmacia">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="farmacia.farmacia.Interfaz.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="farmacia.farmacia.Interfaz.Menu"></activity>
        <activity android:name="farmacia.farmacia.Interfaz.Registro"></activity>
        <activity android:name="farmacia.farmacia.Interfaz.ListaProductos"></activity>
        <activity android:name="farmacia.farmacia.Interfaz.Carrito"></activity>
        <activity android:name="farmacia.farmacia.Interfaz.Compra"></activity>
        <activity android:name="farmacia.farmacia.Interfaz.Farmacias"></activity>
        <activity android:name="farmacia.farmacia.Interfaz.IndicarUbicacion"></activity>
        <activity android:name="farmacia.farmacia.Interfaz.Perfil"></activity>
    </application>

</manifest>
